<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1> The Profile Man</h1>
    <p>Mlkshk man braid truffaut pitchfork church-key, gluten-free venmo banjo banh mi kogi cardigan pop-up.
    Asymmetrical iPhone next level etsy roof party tousled bicycle rights, polaroid cray.
    Fanny pack kale chips direct trade, hammock marfa tacos PBR&B mlkshk occupy messenger bag craft beer.
    Green juice gluten-free mixtape, tacos fingerstache kinfolk twee swag four dollar toast cred.
    Twee flexitarian cray yuccie thundercats cornhole.
    Asymmetrical ramps offal roof party, cliche godard sustainable whatever mixtape poutine lo-fi austin.
    Pinterest small batch lumbersexual heirloom, truffaut chillwave fashion axe austin master cleanse before they sold out leggings pour-over kitsch.</p>
  </div>
</div>
